@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');

body {
	font-family: 'Work Sans', sans-serif;
	background-color: #202124;
	color: #e8eaed;
	margin: 40px 200px;
}

ul {
	list-style-position: inside;
}

li a {
	color: #e8eaed;
	text-decoration: none;
}

li a:hover {
	text-decoration: underline;
}

ol {
	text-align: start;
}

img {
	height: auto;
	width: 500px;
}
